

img.weather-icon {
margin-top: -10px;
margin-left:35px;
margin-bottom:0px;
}
.results {
margin-left:-35px;
}

div.degree {
display:block;
margin:0 auto;}

div.forecast.row {
text-align: center;
margin-left:3px;
margin-right:3px;
margin-top: 8px;
}

span.hour-for {
margin-bottom: 0px;
}

img.weather-icon-small{
display: block;
margin:0 auto;
max-width: 110%;
margin-top:-8px;
margin-bottom:-8px;

}

span.forecast-cel {
text-align: center;
}

span.today-nextweek {
color: #ad6c80;
margin-bottom:0px;
padding-bottom:-30px;
}

span.next-week-main {
color: #ad6c80;
}