

img.weather-icon {
margin-top: -10px;
margin-left:35px;
margin-bottom:0px;
}
.results {
margin-left:-35px;
}

.results-row {
margin-bottom:5px;
padding-bottom:3px;
}

div.degree {
display:block;
margin:0 auto;}

div.forecast.row {
text-align: center;
margin-left:3px;
margin-right:3px;
margin-top: 8px;
}

span.hour-for {
margin-bottom: -3px;
font-size: 10px;
}

img.weather-icon-small{
display: block;
margin:0 auto;
max-width: 110%;
margin-top:-12px;
margin-bottom:-8px;

}

span.forecast-cel {
text-align: center;
font-size: 10px;
}

div.today-nextweek {
color: #ad6c80;
border-radius: 10px;
margin-bottom:0px;
padding-bottom:-30px;
border-color:#ad6c80;
box-shadow: 3px 4px #888888;
border-top-right-radius:30px;
border-bottom-right-radius:30px;
border-top-left-radius:30px;
border-bottom-left-radius:30px;
color: dimgrey;
border-color:#888888;
}

div.today-nextweek:hover  {        
outline: none; 
background-color: #ebd4d4;
box-shadow: 3px 4px #888888;
color: dimgrey;
color: dimgrey;
border-color:#888888;

}


div.today-nextweek:focus {        
outline: none; 
background-color:#ebd4d4;
box-shadow: 0px 0px #888888;
color: dimgrey;
border-color:#888888;
}

.btn-link, .btn {
color: transparent;
box-shadow: 0px 0px #888888;

}

.btn-link:hover, .btn-link:focus, .btn, .btn:hover, .btn:focus {
color:transparent;
box-shadow: 0px 0px #888888;

}

.card {
background-color: white;
border: none;
box-sizing: none;
padding-top:0px;
margin-bottom:0px;
padding-bottom:0px;
margin-left:0px;
margin-right:0px;
padding-left:0px;
padding-right:0px;
}
.card-header {
background-color: white;
border: none;
box-sizing: none;
margin-bottom:0px;
padding-bottom:0px;
margin-top:0px;
padding-top:0px;
}


div.card-body, .card-body {
margin-top:0px;
padding-top:0px;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;

}


span.next-week-main {
color: #ad6c80;
}

div.col-3 {
margin-left:0px;
margin-right:0px;
padding-left:0px;
padding-right:0px;

}