.form-inline {
margin-bottom: 20px;}

.searchbtn {
background-color: #ebd4d4;
border-color:#ebd4d4;;
 box-shadow: 5px 10px #888888;
}

.searchbtn:focus, .searchbtn:active, .searchbtn:active:focus {
 box-shadow: 5px 10px #888888;
}

.form-control {
 box-shadow: 5px 10px #888888;


}
.form-control:focus {
box-shadow: 5px 10px #888888;
}

h1, h2 {
font-family: monospace;
font-size: 26px;
margin-bottom: 10px;
margin-top: 10px;
}

h2, h3 {
text-align: left;
margin-left: 35px;}

form {
padding-left: 20px;
padding-right:20px;}

.weather-icon{
max-width: 170px;
margin-left: 20px;
}

.degree {
font-family: monospace;
font-size: 60px;
text-align: left;
}

.celsius-far, .small {
font-family: monospace;
font-size: 15px;
top: -25px;
position: relative;
}

.far {
margin-left: 7px;
cursor: pointer;
}

.cel {
margin-left:-25px;
cursor: pointer;
}

.col-6 a:link {
color: #835858;
text-decoration: underline;
}

.col-6 a:hover {
  color: #d9adad;
  cursor: pointer;
  text-decoration: line-through;
}

.results {
margin-top: 20px;
font-size: 18px;
text-align: left;
list-style: none;
}
